asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.0.10
exceptiongroup==1.1.2
iniconfig==2.0.0
packaging==23.1
pkg-resources==0.0.0
pluggy==1.2.0
pytest==7.4.0
sqlparse==0.4.4
tomli==2.0.1
typing-extensions==4.7.1
